Takeover\ City/Assets/Animators/* linguist-vendored
Takeover\ City/Assets/BOXPHOBIC/* linguist-vendored
Takeover\ City/Assets/GameObjects/* linguist-vendored
Takeover\ City/Assets/Materials/* linguist-vendored
Takeover\ City/Assets/Polytope\ Studio/* linguist-vendored
Takeover\ City/Assets/Scenes/* linguist-vendored
Takeover\ City/Assets/TerrainSampleAssets/* linguist-vendored
Takeover\ City/Assets/Terrains/* linguist-vendored
Takeover\ City/Assets/TextMesh Pro/* linguist-vendored
